<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script type="text/javascript" src="http://47.92.226.26/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="http://47.92.226.26/js/vue-2.2.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=notj5jZfhhHQvej1zwAkF1V7pU4jGtY7"></script>
    <script src="js/心电图.js"></script>
</head>
<body>
    <div id="app">
        <div v-for="(item,index) in this.data">
            <span>{{item.addr}}</span>
        </div>
        <div v-for="(item,index) in this.history">
            <span>{{item.droneid}}</span>
        </div>
    </div>
</body>
<script>
    var vue = new Vue({
        el: "#app",
        data: {
            data: [],
        },
        history: {
            history: [],
        },
        diagnosis: {
            diagnosis: [],
        },
        drug: {
            drug: [],
        },
        operation: {
            operation: [],
        },
        contact: {
            contact: [],
        },
        created: function () {
            this.loadData(); //页面加载
        },
        methods: {
            loadData: function () {
                var _this = this;
                $.ajax({
                    type: 'Post',
                    url: '../action/map.ashx',
                    data: {
                        op: "load"
                    },
                    dataType: 'json',
                    success: function (data) {
                        var data1 = JSON.parse(data.Data1);
                        var data2 = JSON.parse(data.Data2);
                        _this.data = data1;
                        _this.history = data2;
                        console.log(_this.history);
                    },
                    error: function (XMLHttpRequest, textStatus) { //请求失败
                        if (textStatus == 'timeout') {
                            var xmlhttp = window.XMLHttpRequest ? new window.XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHttp");
                            xmlhttp.abort();
                            alert("请求超时");
                        } else if (textStatus == "error") {
                            alert("服务器内部错误");
                        }
                    }
                })
            }
        },
    });
</script>
</html>