<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>阜外医院</title>
    <link rel="stylesheet" href="../css/bootstrap.css" />
</head>

<body>
    <div class="container body-content">
        <h2></h2>
        <div class="row" style="height:600px">
            <!--<div class="col-md-3" style="height: 100%">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="index.html">病人信息管理</a></li>
                    <li><a href="drone.html">无人机管理</a></li>
                </ul>
            </div>-->
            <div class="col-md-12">
                <div id="test" class="form-group">
                    <button class="btn btn-primary btn-sm addBox" data-toggle="modal"
                            data-target="#addModal" id="search">
                        添加
                    </button>
                    <button class="btn btn-primary btn-sm addBox" onclick="javascript:history.back(-1)">
                        返回
                    </button>
                    <div class="form-group">
                        <table class="table table-bordered table-responsive table-striped">
                            <tr>
                                <th>开始时间</th>
                                <th>结束时间</th>
                                <th>治疗药品</th>
                                <th>主治医师</th>
                                <th>操作</th>
                            </tr>
                            <tr v-for="dataItem in arrayData | orderBy sortparam sorttype">
                                <td>{{dataItem.treatmentBdate}}</td>
                                <td>{{dataItem.treatmentEdate}}</td>
                                <td>{{dataItem.drug}}</td>
                                <td>{{dataItem.doctor}}</td>
                                <td>
                                    <button @click="del(dataItem.treatmentid)" class="btn btn-danger btn-sm">删除</button>
                                    <button @click="edit(dataItem)" class="btn btn-info btn-sm" data-toggle="modal" data-target="#editModal">编辑</button>
                                </td>
                            </tr>
                        </table>
                        <div class="pager" id="pager">
                            <span class="form-inline">
                                <select class="form-control" v-model="pagesize"
                                        v-on:change="showPage(pageCurrent,$event,true)" number>
                                    <option v-for="item in arrPageSize" value="{{item}}">{{item}}</option>
                                </select>
                            </span>
                            <template v-for="item in pageCount+1">
                                <span v-if="item==1" class="btn btn-default" v-on:click="showPage(1,$event)">
                                    首页
                                </span>
                                <span v-if="item==1" class="btn btn-default"
                                      v-on:click="showPage(pageCurrent-1,$event)">
                                    上一页
                                </span>
                                <span v-if="item==1" class="btn btn-default" v-on:click="showPage(item,$event)">
                                    {{item}}
                                </span>
                                <span v-if="item==1&&item<showPagesStart-1" class="btn btn-default disabled">
                                    ...
                                </span>
                                <span v-if="item>1&&item<=pageCount-1&&item>=showPagesStart&&item<=showPageEnd&&item<=pageCount"
                                      class="btn btn-default" v-on:click="showPage(item,$event)">
                                    {{item}}
                                </span>
                                <span v-if="item==pageCount&&item>showPageEnd+1" class="btn btn-default disabled">
                                    ...
                                </span>
                                <span v-if="item==pageCount&&item!=1" class="btn btn-default"
                                      v-on:click="showPage(item,$event)">
                                    {{item}}
                                </span>
                                <span v-if="item==pageCount" class="btn btn-default"
                                      v-on:click="showPage(pageCurrent+1,$event)">
                                    下一页
                                </span>
                                <span v-if="item==pageCount" class="btn btn-default"
                                      v-on:click="showPage(pageCount,$event)">
                                    尾页
                                </span>
                            </template>
                            <span class="form-inline">
                                <input class="pageIndex form-control" style="width:60px;text-align:center" type="text"
                                       v-model="pageCurrent | onlyNumeric"
                                       v-on:keyup.enter="showPage(pageCurrent,$event,true)" />
                            </span>
                            <span>{{pageCurrent}}/{{pageCount}}</span>
                        </div>
                    </div>

                    <!-- 添加学生 -->
                    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addodalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        添加治疗记录
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        <label>开始时间：</label>
                                        <input type="text" id="abegin">
                                    </p>
                                    <p>
                                        <label>结束时间：</label>
                                        <input type="text" id="aend">
                                    </p>
                                    <p>
                                        <label>治疗药品：</label>
                                        <input type="text" id="adrug">
                                    </p>
                                    <p>
                                        <label>主治医师：</label>
                                        <input type="text" id="adoctor">
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="add()">
                                        提交更改
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 编辑学生 -->
                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="addodalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        编辑治疗记录
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        <label>开始时间：</label>
                                        <input type="text" v-model="editPeople.treatmentBdate" id="ebegin" value="">
                                    </p>
                                    <p>
                                        <label>结束时间：</label>
                                        <input type="text" v-model="editPeople.treatmentEdate" id="eend" value="">
                                    </p>
                                    <p>
                                        <label>治疗药品：</label>
                                        <input type="text" v-model="editPeople.drug" id="edrug" value="">
                                    </p>
                                    <p>
                                        <label>主治医师：</label>
                                        <input type="text" v-model="editPeople.doctor" id="edoctor" value="">
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="update(editPeople.treatmentid)">
                                        提交更改
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="vue.js"></script>
    <script>
        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }

        function add() {
            var patientid = GetQueryString("userid");
            var treatmentBdate = $("#abegin").val();
            var treatmentEdate = $("#aend").val();
            var drug = $("#adrug").val();
            var doctor = $("#adoctor").val();
            if (treatmentBdate == "" || treatmentEdate == "" || drug == "" || doctor=="") {
                alert("含有未填项");
            }
            else {
                $.ajax({
                    type: 'Post',
                    url: '../action/TTreatment.ashx',
                    data: {
                        patientid:patientid,
                        treatmentBdate: treatmentBdate,
                        treatmentEdate: treatmentEdate,
                        drug: drug,
                        doctor: doctor,
                        op: "insert"
                    },
                    dataType: 'text',
                    success: function (data) {
                        console.log(data);
                        if ("添加成功") {
                            alert("添加成功");
                            window.location.reload();
                        }
                        else {
                            alert("添加失败");
                        }
                    },
                    error: function (XMLHttpRequest, textStatus) { //请求失败
                        if (textStatus == 'timeout') {
                            var xmlhttp = window.XMLHttpRequest ? new window.XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHttp");
                            xmlhttp.abort();
                            alert("请求超时");
                        } else if (textStatus == "error") {
                            alert("服务器内部错误");
                        }
                        else if (textStatus == "parsererror") {
                            alert("返回类型错误");
                        }
                    }
                })
            }
        }
        function dele(treatmentid) {
            $.ajax({
                type: 'Post',
                url: '../action/TTreatment.ashx',
                data: {
                    treatmentid: treatmentid,
                    op: "deleteByTreatmentId"
                },
                dataType: 'text',
                success: function (data) {
                    if (data =="删除监护人必须先删除其所有联系号码") {
                        alert("删除监护人必须先删除其所有联系号码");
                    }
                    else if (data == "删除成功") {
                        alert("删除成功");
                        window.location.reload();
                    }
                    else {
                        alert("删除失败");
                    }
                },
                error: function (XMLHttpRequest, textStatus) { //请求失败
                    if (textStatus == 'timeout') {
                        var xmlhttp = window.XMLHttpRequest ? new window.XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHttp");
                        xmlhttp.abort();
                        alert("请求超时");
                    } else if (textStatus == "error") {
                        alert("服务器内部错误");
                    }
                    else if (textStatus == "parsererror") {
                        alert("返回类型错误");
                    }
                }
            })
        }
        function update(treatmentid) {
            var patientid = GetQueryString("userid");
            var treatmentBdate = $("#ebegin").val();
            var treatmentEdate = $("#eend").val();
            var drug = $("#edrug").val();
            var doctor = $("#edoctor").val();
            if (treatmentBdate == "" || treatmentEdate == "" || drug == "" || doctor=="") {
                alert("含有未填项");
            }
            else {
                $.ajax({
                    type: 'Post',
                    url: '../action/TTreatment.ashx',
                    data: {
                        treatmentid: treatmentid,
                        treatmentBdate: treatmentBdate,
                        treatmentEdate: treatmentEdate,
                        drug: drug,
                        doctor: doctor,
                        op: "updateTreatmentId"
                    },
                    dataType: 'text',
                    success: function (data) {
                        console.log(data);
                        if ("修改成功") {
                            alert("修改成功");
                            window.location.reload();
                        }
                        else {
                            alert("修改失败");
                        }
                    },
                    error: function (XMLHttpRequest, textStatus) { //请求失败
                        if (textStatus == 'timeout') {
                            var xmlhttp = window.XMLHttpRequest ? new window.XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHttp");
                            xmlhttp.abort();
                            alert("请求超时");
                        } else if (textStatus == "error") {
                            alert("服务器内部错误");
                        }
                        else if (textStatus == "parsererror") {
                            alert("返回类型错误");
                        }
                    }
                })
            }
        }
        //只能输入正整数过滤器
        Vue.filter('onlyNumeric', {
            // model -> view
            // 在更新 `<input>` 元素之前格式化值
            read: function (val) {
                return val;
            },
            // view -> model
            // 在写回数据之前格式化值
            write: function (val, oldVal) {
                var number = +val.replace(/[^\d]/g, '')
                return isNaN(number) ? 1 : parseFloat(number.toFixed(2))
            }
        })


        var vue = new Vue({
            el: "#test",
            ready: function () {
                var _this = this;
                var patientid = GetQueryString("userid");
                $.ajax({
                    type: 'Post',
                    url: '../action/VPatientTreatment.ashx',
                    data: {
                        patientid: patientid,
                        op: "patientid"
                    },
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        //getData(data);
                        _this.arrayDataAll = data;
                        _this.totalCount = _this.arrayDataAll.length;
                        _this.showPage(_this.pageCurrent, null, true);
                    },
                    error: function (XMLHttpRequest, textStatus) { //请求失败
                        if (textStatus == 'timeout') {
                            var xmlhttp = window.XMLHttpRequest ? new window.XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHttp");
                            xmlhttp.abort();
                            alert("请求超时");
                        } else if (textStatus == "error") {
                            alert("服务器内部错误");
                        }
                        else if (textStatus == "parsererror") {
                            alert("返回类型错误");
                        }
                    }
                })
            },
            data: {
                //总项目数
                totalCount: 200,
                //分页数
                arrPageSize: [5, 10, 20, 30, 40],
                //当前分页数
                pageCount: 20,
                //当前页面
                pageCurrent: 1,
                //分页大小
                pagesize: 10,
                //显示分页按钮数
                showPages: 11,
                //开始显示的分页按钮
                showPagesStart: 1,
                //结束显示的分页按钮
                showPageEnd: 100,
                //所有数据
                arrayDataAll: [],
                //分页数据
                arrayData: [],
                //排序字段
                sortparam: "",
                //排序方式
                sorttype: 1

            },
            methods: {
                //分页方法
                showPage: function (pageIndex, $event, forceRefresh) {
                    if (pageIndex > 0) {
                        if (pageIndex > this.pageCount) {
                            pageIndex = this.pageCount;
                        }

                        //判断数据是否需要更新
                        var currentPageCount = Math.ceil(this.totalCount / this.pagesize);
                        if (currentPageCount != this.pageCount) {
                            pageIndex = 1;
                            this.pageCount = currentPageCount;
                        }
                        else if (this.pageCurrent == pageIndex && currentPageCount == this.pageCount && typeof (forceRefresh) == "undefined") {
                            console.log("not refresh");
                            return;
                        }

                        //处理分页点中样式
                        var buttons = $("#pager").find("span");
                        for (var i = 0; i < buttons.length; i++) {
                            if (buttons.eq(i).html() != pageIndex) {
                                buttons.eq(i).removeClass("active");
                            }
                            else {
                                buttons.eq(i).addClass("active");
                            }
                        }

                        //从所有数据中去分页数据
                        var newPageInfo = [];
                        for (var i = 0; i < this.pagesize; i++) {
                            var index = i + (pageIndex - 1) * this.pagesize;
                            if (index > this.totalCount - 1) break;
                            newPageInfo[newPageInfo.length] = this.arrayDataAll[index];
                        }
                        this.pageCurrent = pageIndex;
                        this.arrayData = newPageInfo;

                        //计算分页按钮数据
                        if (this.pageCount > this.showPages) {
                            if (pageIndex <= (this.showPages - 1) / 2) {
                                this.showPagesStart = 1;
                                this.showPageEnd = this.showPages - 1;
                                console.log("showPage1")
                            }
                            else if (pageIndex >= this.pageCount - (this.showPages - 3) / 2) {
                                this.showPagesStart = this.pageCount - this.showPages + 2;
                                this.showPageEnd = this.pageCount;
                                console.log("showPage2")
                            }
                            else {
                                console.log("showPage3")
                                this.showPagesStart = pageIndex - (this.showPages - 3) / 2;
                                this.showPageEnd = pageIndex + (this.showPages - 3) / 2;
                            }
                        }
                        console.log("showPagesStart:" + this.showPagesStart + ",showPageEnd:" + this.showPageEnd + ",pageIndex:" + pageIndex);
                    }

                }, sortBy: function (sortparam) {
                    this.sortparam = sortparam;
                    this.sorttype = this.sorttype == -1 ? 1 : -1;
                },
                //提交
                add: function () {
                    add();
                },
                del: function (item) {
                    console.log(item);
                    dele(item);
                },
                //编辑
                edit: function (item) {
                    this.editPeople = {
                        treatmentid: item.treatmentid,
                        treatmentBdate: item.treatmentBdate,
                        treatmentEdate: item.treatmentEdate,
                        drug: item.drug,
                        doctor:item.doctor
                    };
                },
                update: function (item) {
                    update(item);
                },
            }
        });
        vue.$watch("arrayData", function (value) {
            // console.log("==============arrayData begin==============");
            // console.log(value==vue.arrayData);
            // console.log(vue.arrayData);
            // console.log("==============arrayData end==============");
        });
    </script>
</body>

</html>